service firebase.storage {
  match /b/chat-project-b8713.appspot.com/o {
     match /{userId}/{timeStamp}/{fileName} {
      allow read, write: if request.auth.uid == userId;
      allow read;
    }
  }
}